$mainColor: #ffffff;
$blueAccent: #609bff;
$baseColor: #000000;
$levelColor: #181823;
$lightGrey: #8491A0;
$darkGrey: #5B6876; 
$primary: #5221E6;  
$greenAccent: #3CC74E;
$pinkAccent: #E95D90;
$peachAccent: #fff3e4;
$violetAccent: #fbe4ff;

